<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Socket通信.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6FDC93BB1DE8311700991663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FDC93D41DE8311800991663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6FDC93DF1DE8311800991663</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
